@model Student
<h2>Create Student</h2>
<form asp-action="CreateStudent">
    <div class="row form-border">
        <input asp-for="Name" />
        <input asp-for="Phone" />
        <input asp-for="Location" />
        <input type="submit" value="Create Student" class="btn btn-sm btn-success" />

    </div>
</form>