@model Course

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Course</h1>

<form asp-controller="Course" asp-action="Edit">
    <input type="hidden" asp-for="CourseId" />
    <div class="col-12">
        <dl class="dl-horizontal">
            <dt>Title</dt>
            <dd>
                <input asp-for="Title" />
            </dd>
            <dt>Description</dt>
            <dd>
                <input asp-for="Description" />
            </dd>
            <dt>Teacher Name</dt>
            @*  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ *@

            <dd>
                <select name="Teacher.Id">
                    @foreach (var item in (List<Teacher>)ViewBag.Teachers)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </dd>
            @*  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ *@
            <dt>
                <button class="btn btn-success" asp-controller="Course" asp-action="Edit">Save</button>
            </dt>
            <dd>
                <button class="btn btn-secondary" asp-controller="Course" asp-action="Index">Back</button>
            </dd>
        </dl>
    </div>
</form>

