body {
    /*background-image: url('http://img2.vetton.ru//upl/25000/24374/vetton_ru_img7784-3456x2304.jpg');
    background-position: center center;*/
    background-color: #ffffff;
    padding: 10px;
}
.row {
    padding: 7px;
}
.dl-horizontal{
}