body {
    background-image: url('http://img2.vetton.ru//upl/1000/346/vetton_ru_258911--1920x1200.jpg');
    padding: 10px;
}
table, th, td {
    border: 1px solid black;
}
table, th {
    border: 1px solid black;
}