
@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to School</h1>

<img src="http://www.rishworth-school.co.uk/files/backgrounds/Front%20of%20school.jpg" width="100%" height="" alt="Alternate Text" />